*.pyc
*.log
*.log~
*.xml
*.pdf
*.pkl
*.ini
.DS_Store

# Editors
.idea
*.vscode
.zed

# Project
servcy/__pycache__/*.*
logs/
env/
.venv/
.coverage/
.autogen/
static/
servcy-gcp-service-account-key.json
*.db
dump.rdb
