[main]
secret_key = 
fernet_key = 
host_type = development
frontend_url = http://localhost:3000

[database]
host = 
name = 
user = 
password = 
port = 5432

[aws]
bucket = 
access = 
secret = 
region = 

[sendgrid]
key = 
endpoint = 
verification_template_id = 
from_email = 

[twilio]
account_sid = 
auth_token = 
verify_service_id = 
from_number = 

[google]
client_id=
client_secret=
project_id=servcy
token_uri=https://oauth2.googleapis.com/token
redirect_uri=
user_info_uri=
pub_sub_topic=
pub_sub_subscription=
