[main]
secret_key = 
fernet_key = 
host_type = development
frontend_url = http://localhost:3000

[database]
host = 
name = 
user = 
password = 
port = 5432

[aws]
bucket = 
access = 
secret = 
region = 

[sendgrid]
key = 
endpoint = 
verification_template_id = 
from_email = 

[twilio]
account_sid = 
auth_token = 
verify_service_id = 
from_number = 

[google]
client_id=
client_secret=
project_id=servcy
redirect_uri=
pub_sub_topic=
pub_sub_subscription=

[microsoft]
display_name=
client_id=
client_secret_id=
client_secret=
object_id=
tenant_id=
redirect_uri=

[slack]
app_id=
client_id=
client_secret=
signing_secret=
app_token=
verification_token=
redirect_uri=

[notion]
client_secret=
client_id=
redirect_uri=

[figma]
client_secret=
client_id=
redirect_uri=

[github]
client_secret=
client_id=
redirect_uri=
